div {
    text-align: center;
}

p {   
    color: #0abdc6;
    padding: 10px 100px 10px 100px;
    text-align: center;
}

h3 {
    color: #fcee0c;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

h6 {
    font-size: 20px;
}

shadow {
    box-shadow: 5px 5px 5px 5px #888888;
}

ul {
    padding: 0px;
    margin: 0px;
}

.paragraph-hover:hover {
    color: darkorange;
}

h4 {
    color: #ff1878;
    text-align: center;
}

li {
    color: #0abdc6;
    text-align: center;
}
